<div class="blog-article-thumb">
  <a href="{{ href }}">
    <div class="image" style="background-image: url('{{ thumb }}')"></div>
  </a>
  <div class="content">
    <div class="description">
      <h4><a href="{{ href }}">{{ title }}</a></h4>
      <p class="pb-4">{{ description }}</p>
    </div>
    <div class="button-group">
      <button class="view-article" formaction="{{ action_view_article }}" data-bs-toggle="tooltip" title="{{ button_view_article }}"><i class="fa-solid fa-eye"></i> {{ button_view_article }}</button>
    </div>
  </div>
</div>
