{{ header }}
{{ structured_data }}
<div id="blog-article" class="container">
  {{ breadcrumbs }}
  <div class="row mx-1 py-3 px-4 bg-light">{{ column_left }}
    <h4 class="mt-3 mb-5"><a href="{{ link_blog }}"><i class="fas fa-arrow-left me-2"></i> {{ text_back_to_blog }}</a></h4>
    <h1 class="mb-4 text-center">{{ title }}</h1>
    <div id="content" class="col blog-article-content">{{ content_top }}
      <div class="row mb-3">
        {% if image %}
          <figure class="mb-5 text-center">
            <img src="{{ image }}" class="img-fluid" alt="{{ title }}">
          </figure>
        {% endif %}
        <div class="row mb-5 mt-5 px-5">
          {{ content }}
        </div>
        <div class="row">
          {% if author %}
            <div class="col-sm-12 col-md-auto">
              <h4>{{ text_about_author }}</h4>
              <div class="card mb-3">
                <div class="row g-0">
                  {% if author.photo %}
                    <div class="col-auto">
                      <img src="{{ author.photo }}" class="img-fluid rounded-start" alt="{{ author.name }}" width="128" height="128">
                    </div>
                  {% endif %}
                  <div class="col">
                    <div class="card-body">
                      <a href="{{ author.link }}"><h5 class="card-title">{{ author.name }}</h5></a>
                      {% if author.email %}<p class="card-text">{{ author.email }}</p>{% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
          {% if tags and tags|length > 0 %}
            <div class="col"></div>
            <div class="col-sm-12 col-md-4">
              <h4>{{ text_tags }}</h4>
              <div class="card mb-3">
                <div class="row g-0">
                  <div class="card-body">
                    <p class="card-text">
                      {% for tag in tags %}
                        <a href="{{ tag.link }}"><span class="badge me-1 mb-2 bg-primary fs-6">{{ tag.tag }}</span></a>
                      {% endfor %}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}

          {% if author or (tags and tags|length > 0) %}
            <div class="col"></div>
          {% endif %}
          <div class="col-sm-12 col-md-auto">
            <h4>{{ text_about_article }}</h4>
            <div class="card mb-3">
              <div class="row g-0">
                <div class="card-body">
                  <p class="card-text">{{ text_added_at }}</p>
                  {% if text_added_at != text_modified_at %}<p class="card-text">{{ text_modified_at }}</p>{% endif %}
                  <p class="card-text">{{ text_view_times }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}
