{{ header }}{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="float-end">
				<button type="submit" form="form-stock-status" formaction="{{ save }}" data-bs-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa-solid fa-floppy-disk"></i></button>
				<a href="{{ back }}" data-bs-toggle="tooltip" title="{{ button_back }}" class="btn btn-light"><i class="fa-solid fa-reply"></i></a></div>
			<h1>{{ heading_title }}</h1>
			{{ breadcrumbs }}
		</div>
	</div>
	<div class="container-fluid">
		<div class="card">
			<div class="card-header"><i class="fa-solid fa-pencil"></i> {{ text_form }}</div>
			<div class="card-body">
				<form id="form-stock-status" action="{{ save }}" method="post" data-oc-toggle="ajax">
					<div class="row mb-3 required">
						<label class="col-sm-2 col-form-label">{{ entry_name }}</label>
						<div class="col-sm-10">
							{% for language in languages %}
								<div class="input-group{% if not language.status %} d-none{% endif %}">
									<div class="input-group-text"><img src="{{ language.image }}" title="{{ language.name }}"/></div>
									<input type="text" name="stock_status[{{ language.language_id }}][name]" value="{{ stock_status[language.language_id] ? stock_status[language.language_id].name }}" placeholder="{{ entry_name }}" id="input-name-{{ language.language_id }}" class="form-control"/>
								</div>
								<div id="error-name-{{ language.language_id }}" class="invalid-feedback"></div>
							{% endfor %}
						</div>
					</div>
					<div class="row mb-3 required">
						<label for="input-item-availability" class="col-sm-2 col-form-label">{{ entry_item_availability }}</label>
						<div class="col-sm-10">
              <div class="input-group">
                <select name="item_availability" id="input-item-availability" class="form-select">
                  {% for item_availability_value in item_availability_values %}
                    <option value="{{ item_availability_value }}"{% if item_availability == item_availability_value %} selected{% endif %}>{{ item_availability_language[item_availability_value] }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-text">{{ help_item_availability }}</div>
              <div id="error-item-availability" class="invalid-feedback"></div>
						</div>
					</div>
					<input type="hidden" name="stock_status_id" value="{{ stock_status_id }}" id="input-stock-status-id"/>
				</form>
			</div>
		</div>
	</div>
</div>
{{ footer }}
